@import "../../../scss//main.scss";
@import "swiper/css/bundle";

.ks-stories-modal {
  background-color: $black;
  @include square(100%);
  padding: 20px 0;

  > .box {
    @include square(100%);
  }
}

.ks-story-slides {
  @include square(100%);
  user-select: none;
}
