@import "swiper/css/bundle";
@import "../../scss/main.scss";

.ks-story-list {
  user-select: none;
  position: relative;

  > .action {
    @include abs-center-ver;
    @include circle(50px);
    @include flex-center;
    font-size: 30px;
    color: $white;
    background-color: rgba($black, 0.5);
    z-index: 2;

    &.-right {
      right: 0;
    }
  }
}

.ks-story-item {
  @include size(100%, 200px);
  position: relative;
  border: 4px solid rgb(0, 144, 227);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
}

.ks-story-item > .information {
  @include flex-inline-center-column;
  @include position(absolute, null, 0, 0, 0);
  @include size(100%, 40%);
  color: $white;
  padding-bottom: 5px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  z-index: 2;
}

.ks-story-item > .information > .avatar {
  @include circle(40px);
  border: 3px solid rgb(0, 144, 227);
}
