.ks-create-post {
  @include flex-center-ver;
  @include size(100%, 90px);
  gap: 10px;
  background-color: $white;
  color: $color-gray-700;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: $shadow-primary;
  border-radius: $border-radius;
  border-bottom: 1px solid $color-gray;
  cursor: pointer;
  user-select: none;

  &.-dark {
    background-color: $bg-dark-700;
    color: $color-light-gray;
  }

  > .avatar {
    @include square(50px);
  }

  > .field {
    @include flex-center-ver;
    @include square(100%);
    padding: 0 20px;
    border-radius: 30px;
    flex: 1;
    font-size: 16px;
    color: inherit;
    background-color: rgba($color-gray-600, 0.2);
  }

  &-modal {
    @include flex-center;
    position: relative;

    &.-dark {
      > .box {
        background-color: $bg-dark-700;
        color: $color-light-gray;
        border: 1px solid $color-gray-600;
      }
    }

    > .box {
      @include flex-column;
      border-radius: $border-radius;
      background: $white;
      color: $color-gray-700;
      padding: 20px;
      position: relative;
      max-width: 100%;
      max-height: 90%;
    }

    > .box > .close {
      @include position(absolute, 10px, 10px, null, null);
      cursor: pointer;
      font-size: 24px;
    }
  }

  &-create-mode {
    @include size(500px, auto);
    overflow-y: auto;
    max-width: 100%;
    max-height: 100%;

    > .heading {
      font-size: 20px;
      text-align: center;
      border-bottom: 1px solid $color-gray;
      padding-bottom: 20px;
    }

    > .information {
      @include flex-center-ver;
      margin: 15px 0;
      gap: 10px;
    }

    > .information > .avatar {
      @include square(50px);
      aspect-ratio: 1/1;
    }

    > .information > .name {
      font-weight: $fw-semibold;
    }

    > .metadata {
      @include flex-center-ver;
      justify-content: space-between;
      border: 1px solid $color-gray;
      border-radius: 8px;
      padding: 10px;
      font-weight: $fw-bold;
    }

    > .metadata > .icon {
      font-size: 18px;
      color: green;
      cursor: pointer;
    }

    > .group > .button {
      display: block;
      border-radius: 8px;
      font-size: 16px;
      margin: 16px 0;
    }

    > .list {
      @include flex-column;
      gap: 6px;
    }

    > .list > .item {
      position: relative;
    }

    > .list > .item > .button {
      @include position(absolute, 10px, null, null, 10px);
      width: 100px;
      border-radius: 8px;

      &:hover {
        background-color: $white;
        color: $color-gray-600;
        opacity: 1;
      }
    }

    > .list > .item > .image {
      @include size(100%, auto);
      aspect-ratio: 16/9;
    }
  }

  &-edit-mode {
    @include size(1000px, auto);
    overflow-y: auto;
    max-width: 100%;
    max-height: 100%;

    .cropper-point.point-se {
      @include square(5px);
    }

    > .heading {
      font-size: 20px;
      text-align: center;
      border-bottom: 1px solid $color-gray;
      padding-bottom: 20px;
    }

    > .wrapper {
      display: flex;
      margin-top: 10px;

      max-width: 100%;
      max-height: 100%;

      @include breakpoint-down(tablet) {
        flex-direction: column-reverse;
      }
    }

    > .wrapper > .sidebar {
      width: 30%;
      max-height: 100%;

      @include breakpoint-down(tablet) {
        width: 100%;
      }
    }

    > .wrapper > .sidebar > .list {
      @include flex-column;
      gap: 13px;
    }

    > .wrapper > .sidebar > .list > .item {
      @include flex-center-ver;
      cursor: pointer;
      font-weight: $fw-semibold;
      gap: 6px;
    }

    > .wrapper > .sidebar > .list > .item > .icon {
      @include circle(50px);
      @include flex-center;
      color: inherit;
      font-size: 23px;
    }

    > .wrapper > .content {
      width: 70%;
      height: 500px;

      @include breakpoint-down(tablet) {
        width: 100%;
        height: 300px;
      }

      @include breakpoint-down(phone) {
        height: 200px;
      }
    }

    > .wrapper > .content > .image {
      @include square(unset);
      max-width: 100%;
      max-height: 100%;
    }

    > .wrapper > .content > .preview {
      display: none;
    }
  }
}
