.ks-story-card {
  position: relative;
  height: 100%;
  transform: scale(0.7);
  opacity: 0.5;
  border-radius: 15px;
  transition: transform 0.3s linear;
  cursor: pointer;
  padding: 20px;

  &.-active {
    transform: scale(1);
    opacity: 1;
  }

  > .video {
    position: absolute;
    inset: 0;

    &.-hidden {
      display: none;
    }

    &.-loading {
      @include square(fit-content);
      @include abs-center;
    }

    &.-loading > .spinner {
      @include square(30px !important);
    }
  }

  > .blur {
    @include flex-center;
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    border-radius: 15px;
    overflow: hidden;
  }

  > .blur > .image {
    @include square(100%);
    filter: blur(5px);
    border-radius: 15px;
    opacity: 0.8;

    &.-active {
      filter: blur(30px);
    }
  }

  &-progress {
    background-color: $white;
    @include size(100%, 5px);
    border-radius: 5px;
    position: relative;
    z-index: 2;

    > .slide {
      display: block;
      height: 100%;
      @include position(absolute, 0px, null, null, 0px);
      border-radius: 5px;
      background-color: $color-primary;
    }
  }
}
