.list-posts .post-item {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid rgb(190, 190, 190);
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}
.post-item-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  .options:hover {
    opacity: 0.5;
  }
}
.post-item-header .friend-info {
  display: flex;
  align-items: center;
  gap: 15px;
  .name {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.post-item-header .friend-info .create-at {
  display: flex;
  font-size: 13px;
  align-items: center;
  gap: 5px;
}
.post-item-header .friend-info .create-at svg {
  color: grey;
}
.post-item-header .options {
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 25px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s linear;
}
.post-item-header .options:hover {
}
.list-posts .post-item .post-item-body .post-video {
  display: flex;
  justify-content: center;
  max-height: 700px;
}
.list-posts .post-item .post-item-body .post-video .post-video-group {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
}
.list-posts .post-item .post-item-body .post-video .post-video-preview {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 85%;
  z-index: 10;
  cursor: pointer;
  background-color: transparent;
}

.list-posts .post-item .post-item-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  margin: 15px 0px;
  padding: 10px 0px;
  /* background-color: rgb(223, 223, 223); */
}

.list-posts .post-item .post-item-body ul {
  cursor: pointer;
  list-style: none;
}
.list-posts .post-item .post-item-body ul li {
  position: relative;
  overflow: hidden;
}
.post-image-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.list-posts .post-item .post-item-body .list-image-post-1 li {
  height: 500px;
}
.list-posts .post-item .post-item-body .list-image-post-2 li,
.list-posts .post-item .post-item-body .list-image-post-3 li,
.list-posts .post-item .post-item-body .list-image-post-4 li,
.list-posts .post-item .post-item-body .list-image-post-default li {
  margin: 1px;
  height: 250px;
}
.list-posts .post-item .post-item-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-posts .post-item .post-item-footer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  gap: 20px;
  border-top: 1px solid rgb(201, 201, 201);
}
.list-posts .post-item .post-item-footer .options {
  color: grey;
  display: flex;
  cursor: pointer;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.1s linear;
  transition: opacity 0.1s linear;
  &:hover {
    opacity: 0.7;
  }
}
.list-posts .dark .post-item-footer .options {
  color: rgb(203, 203, 203);
}
.list-posts .post-item .post-item-footer .options .heart-purple {
  animation: heartPurple 0.6s alternate;
}

@media (max-width: 768px) {
  .list-posts .post-item .post-item-body .list-image-post-2 li,
  .list-posts .post-item .post-item-body .list-image-post-3 li,
  .list-posts .post-item .post-item-body .list-image-post-4 li,
  .list-posts .post-item .post-item-body .list-image-post-default li {
    height: 180px;
  }
}

@media (max-width: 410px) {
  .list-posts .post-item .post-item-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }
}

@keyframes heartPurple {
  from {
    transform: scale(1);
    transform: rotate(20deg);
  }
  to {
    transform: scale(1.3);
  }
}
