.ks-profile {
  color: $color-gray-700;

  &.-dark {
    color: $color-light-gray;

    > .wrapper > .tabs > .button {
      color: $color-pink;
    }

    > .wrapper > .header > .group > .information > .quantity {
      color: $color-light-gray;
    }

    > .wrapper > .tabs {
      background-color: $bg-dark-700;
    }
  }

  > .wrapper {
    position: relative;
  }

  > .cover {
    @include size(100%, 450px);
    padding: 0 10px;
    margin: 0 auto;
    position: relative;

    @include breakpoint-down(tablet) {
      @include size(100%, 350px);
    }

    @include breakpoint-down(smallphone) {
      @include size(100%, 250px);
    }
  }

  > .cover > a {
    @include position(absolute, 10px, null, null, 20px);
    color: $white;
    font-size: 50px;
    z-index: 3;
    transition: opacity 0.1s linear;

    @include breakpoint-down(smallphone) {
      font-size: 40px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  > .wrapper > .header {
    @include breakpoint-up(phone) {
      height: 165px;
    }
  }

  > .wrapper > .header > .group {
    display: flex;
    align-items: flex-end;
    gap: 10px;

    @include breakpoint-down(phone) {
      @include flex-column;
      align-items: center;
    }
  }

  > .wrapper > .header > .group > .image {
    @include square(175px);
    aspect-ratio: 1/1;
    user-select: none;
    transform: translateY(-30px);

    @include breakpoint-down(phone) {
      @include square(150px);
    }
  }

  > .wrapper > .header > .group > .image > .avatar {
    border: 5px solid $color-primary;
  }

  > .wrapper > .header > .group > .information {
    @include flex-column;
    gap: 6px;
    transform: translateY(-30px);

    @include breakpoint-down(phone) {
      @include flex-center-ver;
    }
  }

  > .wrapper > .header > .group > .information > .name {
    color: $color-primary;
    font-size: 35px;
    font-weight: $fw-bold;
  }

  > .wrapper > .header > .group > .information > .quantity {
    color: $black;
    font-weight: $fw-bold;
  }

  > .wrapper > .tabs {
    @include flex-center-ver;
    background-color: $white;
    margin-bottom: 20px;
    border-top: 1px solid rgba($color-gray-600, 0.4);
    box-shadow: 0px 0px 5px rgba($black, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  > .wrapper > .tabs > .button {
    border-radius: 8px;
    color: inherit;
    font-size: 16px;
    width: 100px;
    background-color: transparent;

    &.-active {
      border-bottom: 2px solid $color-primary;
    }

    &:hover {
      background-color: transparent;
      opacity: 0.8;
    }
  }

  &-cover-picture {
    @include square(100%);
    position: relative;
    max-width: 1500px;

    > .guide {
      @include abs-center;
      @include flex-center;
      @include size(145px, 40px);
      z-index: 2;
      color: $white;
      background-color: rgba($black, 0.4);
      border-radius: 8px;
      pointer-events: none;
    }

    > .group {
      @include position(absolute, null, 10px, 10px, null);
      @include flex-center-ver;
      gap: 6px;
      z-index: 2;
    }

    > .group > .button {
      color: $white;
      @include size(90px, 40px);
      background-color: rgba($black, 0.8);
      border-radius: 8px;
    }

    > .edit {
      @include position(absolute, null, 20px, 10px, null);
      @include flex-center;
      padding: 10px;
      border-radius: $border-radius;
      background-color: rgba($black, 0.6);
      color: $white;
      cursor: pointer;
    }

    > .image {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    > .preview {
      @include square(100%);
    }
  }

  &-list-friends {
    @include flex-center-ver;
    height: 40px;

    > .item {
      @include square(40px);
      aspect-ratio: 1/1;
    }
  }

  &-content {
    display: flex;
    gap: 10px;

    > .left {
      width: 70%;

      @include breakpoint-down(tablet) {
        width: 100%;
      }
    }

    > .right {
      width: 30%;

      @include breakpoint-down(tablet) {
        display: none;
      }
    }

    > .right > .suggestion {
      background-color: $white;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: $shadow-primary;
      border-radius: $border-radius;
      border-bottom: 1px solid $color-gray;

      &.-dark {
        background-color: $bg-dark-700;
        color: $color-light-gray;
      }

      &.-dark > .heading {
        color: $color-pink;
      }
    }

    > .right > .suggestion > .heading {
      color: $color-gray-600;
      margin-bottom: 10px;
      font-size: $fs-x-large;
    }
  }
}
