.post-skeleton {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &span {
    display: block;
    width: 150px;
    height: 10px;
    background-color: rgb(195, 194, 194);
    border-radius: 10px;
  }

  .name-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .post-body-skeleton {
    min-height: 50px;
    border-radius: 5px;
    background-color: rgb(195, 194, 194);
  }
  .post-item-footer .options {
    min-width: 50px;
    background-color: rgb(195, 194, 194);
  }
}

.post-skeleton .post-item-footer .options,
.post-skeleton span,
.post-skeleton .avatar-friend,
.post-skeleton .post-body-skeleton {
  animation: skeletonAnimation 0.5s alternate infinite;
}

@keyframes skeletonAnimation {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.7;
  }
}
