.ks-footer {
  background-color: $color-secondary;
  color: $color-gray;
  font-size: $fs-large;
  position: relative;

  > .background {
    position: absolute;
    inset: 0;
    opacity: 0.3;
  }

  > .wrapper > .top {
    @include flex-center-ver;
    padding: 70px 0px 70px;

    @include breakpoint-down(phone) {
      padding: 70px 0px 0px;
    }
  }

  > .wrapper > .content > .item {
    padding-bottom: 50px;
  }

  > .wrapper > .content > .item > .heading {
    margin-bottom: 30px;
    font-size: 20px;
    color: $white;
  }

  > .wrapper > .content > .item > .description {
    max-width: 470px;
  }

  > .wrapper > .content > .item > .list {
    @include flex-column;
    gap: 16px;
  }

  > .wrapper > .content > .contact > .list > .item > .heading {
    color: $white;
    font-size: $fs-normal;
    margin-bottom: 5px;
  }

  > .wrapper > .bottom {
    @include flex-center-ver;
    border-top: 1px solid rgba($border-color, 0.2);
    padding: 30px 0;

    @include breakpoint-down(phone) {
      text-align: center;
    }
  }

  > .wrapper > .bottom > .item > .logo {
    @include size(140px, 50px);

    @include breakpoint-down(phone) {
      display: none;
    }
  }

  > .wrapper > .bottom > .item:nth-child(2) {
    @include flex-center;
  }
}
