.ks-menu {
  @include flex-center-ver;

  &-wrapper {
    @include flex-center-ver;
    flex: 1;
    position: relative;

    &.-sticky > .menu > .item > .link {
      color: $black;
      transition: color 0.2s linear !important;

      &:hover {
        color: $color-orange;
      }
    }

    &.-sticky > .login {
      background-color: $color-primary;
      color: $white;

      @include breakpoint-down(smallphone) {
        background-color: transparent;
        color: $black;
      }

      &:hover {
        background-color: $color-primary !important;
        color: $white !important;

        @include breakpoint-down(smallphone) {
          background-color: transparent !important;
          color: $black !important;
        }
      }
    }

    &.-sticky > .burger > .icon {
      background-color: $color-gray-700;
    }

    > .burger {
      margin-right: 0;
      @include flex-column;
      gap: 4px;

      @include breakpoint-up(desktop) {
        display: none;
      }
    }

    > .burger > .icon {
      @include size(24px, 2.5px);
      border-radius: 5px;
      background-color: $white;
    }

    > .login {
      width: unset !important;

      &:hover {
        color: $black;
      }

      @include breakpoint-down(smallphone) {
        background-color: transparent;
        color: $white;
        font-size: $fs-x-large;
        padding-left: 0;
        padding-right: 0;

        &:hover {
          background-color: transparent !important;
          color: $white;
        }
      }
    }

    > .login > .text {
      @include breakpoint-down(smallphone) {
        display: none;
      }
    }
  }

  &-wrapper > .brand {
    width: 139px;
    aspect-ratio: 16/5;
  }

  &-wrapper > .brand > .logo > .image {
    display: none;
    &.-sticky {
      display: block;
    }

    &.-static {
      display: block;
    }
  }

  &-wrapper > .menu {
    @include flex-center-ver;

    @include breakpoint-down(desktop) {
      display: none;
    }
  }

  &-wrapper > .menu > .item {
    font-weight: $fw-bold;
  }

  &-wrapper > .menu > .item > .link {
    font-size: $fs-sm;
    color: $white;
    white-space: nowrap;
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: 0.06em;
    padding: 40px 15px;

    &:hover {
      background-color: transparent !important;
    }
  }
}
