.ks-menu-drawer {
  @include size(350px, 100vh);

  @include breakpoint-down(smallphone) {
    width: 100%;
  }

  > .header {
    padding: 15px 30px;
    text-align: end;
  }

  > .menu {
    padding: 15px 30px;
    list-style-type: none;
  }

  > .menu > .item {
    position: relative;
  }

  > .menu > .item > .link {
    @include flex-center-ver;
    padding: 12px 0;
    font-size: $fs-normal;
    position: relative;
    line-height: 1.1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-gray-900;
    font-weight: $fw-medium;
  }
}

.menu-drawer-root {
  @include breakpoint-down(smallphone) {
    width: 100%;
  }
}
